# <b><span style='color:#F1A424'>AutoDataPrep - Binary Classification - Titanic Survival- Load Data</span> </b>

### Disclaimer
The sample code (“Sample Code”) provided is not covered by any Teradata agreements. Please be aware that Teradata has no control over the model responses to such sample code and such response may vary. The use of the model by Teradata is strictly for demonstration purposes and does not constitute any form of certification or endorsement. The sample code is provided “AS IS” and any express or implied warranties, including the implied warranties of merchantability and fitness for a particular purpose, are disclaimed. In no event shall Teradata be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) sustained by you or a third party, however caused and on any theory of liability, whether in contract, strict liability, or tort arising in any way out of the use of this sample code, even if advised of the possibility of such damage.

## <b> Problem overview - Binary Classification </b>


The Titanic dataset is a well-known dataset in the field of machine learning and data science. It contains information about passengers aboard the RMS Titanic, including whether they survived or not. The dataset is often used for predictive modeling and classification tasks. Here are some key details about the Titanic dataset:

**Features**:

- `PassengerId`: Unique identifier for each passenger.
- `Pclass`: Ticket class (1st, 2nd, or 3rd).
- `Name`: Passenger's name.
- `Sex`: Passenger's gender (male or female).
- `Age`: Passenger's age.
- `SibSp`: Number of siblings or spouses aboard.
- `Parch`: Number of parents or children aboard.
- `Ticket`: Ticket number.
- `Fare`: Fare paid for the ticket.
- `Cabin`: Cabin number.
- `Embarked`: Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).

**Target Variable**:

- `Survived`: Binary variable indicating whether the passenger survived (1) or not (0).
        
**Objective**:

The main objective is typically to build a predictive model that can accurately predict whether a passenger survived based on the available features.

**Challenges**:

- Missing data in the columns such as `Age`, `Cabin`, and `Embarked`.
- Exploring feature engineering techniques to improve model performance.(`Feature exploration and engineering`)
- Understanding passenger demographics and characteristics that influenced survival.(`Model training`)

**Usecase**:

- Here, we will use AutoML(Automated Machine Learning) functionality to automate the entire process of developing a predictive model. 
- It will perform `feature exploration`, `feature engineering`, `data preparation`, `model training` and `model evaluation` on dataset in auto run and at end we will get `leaderboard` containined different models along with their performance. 
- Model will also have `rank` associated with them which indicates which is `best performing model` for given data followed by other models.

In [1]:
# Importing AutoDataPrep from teradataml
from teradataml import AutoDataPrep

In [2]:
# Importing other important libraries
import getpass
from teradataml import create_context, remove_context
from teradataml import DataFrame
from teradataml import load_example_data

In [3]:
# Create the connection.
host = getpass.getpass("Host: ")
username = getpass.getpass("Username: ")
password = getpass.getpass("Password: ")

con = create_context(host=host, username=username, password=password)

Host:  ········
Username:  ········
Password:  ········

## <b><span style='color:#F1A424'>| 1.</span> Load deployed data from AutoDataPrep </b>

In [4]:
adp = AutoDataPrep()

In [5]:
data = adp.load(table_name="titanic_prep")

In [6]:
data

{'rfe_train':          r_sex_0  survived  automl_id  r_embarked_2  r_embarked_0  r_passenger     r_age  r_sibsp  r_pclass    r_fare
 r_sex_1
 1              0         0         11             1             0     0.662921  0.627451      0.0       1.0  0.125000
 1              0         0         17             1             0     0.341573  0.509804      0.0       1.0  0.141228
 1              0         0         22             1             0     0.249438  0.941176      0.0       1.0  0.141228
 1              0         1         23             1             0     0.502247  0.607843      0.0       0.0  0.465789
 1              0         1         27             1             0     0.800000  0.882353      0.5       0.0  0.912281
 1              0         0         28             1             0     0.570787  0.490196      0.0       1.0  0.395175
 0              1         1         12             0             1     0.365169  0.647059      0.0       0.0  0.228070
 0              1         1         19             1             0     0.960674  0.294118      0.0       1.0  0.164035
 0              1         0         21             1             0     0.112360  0.490196      0.0       1.0  0.138523
 0              1         1         24             1             0     0.731461  0.294118      0.0       0.5  0.403509,
 'pca_train':               col_0     col_1     col_2     col_3     col_4     col_5  survived
 automl_id
 387       -1.207638 -0.662157  0.038470 -0.366528  0.070242 -0.250650         1
 713       -0.639786  0.679559  0.340809 -0.197031  0.509808 -0.063763         1
 19        -0.637804  0.679945  0.375119 -0.226471  0.547413 -0.059182         1
 753        0.135545 -1.121384  0.258524 -0.479924 -0.130203  0.365780         0
 324       -0.731316  0.637457 -0.076783 -0.011871  0.213383 -0.226777         1
 385       -0.977002 -0.143439  0.990735  0.659949  0.245793 -0.067303         0
 59        -0.640228  0.676612  0.383016 -0.243977  0.327815 -0.128798         1
 856        0.554766  0.130829 -0.172142 -0.008577 -0.327649 -0.235748         0
 591        0.509808  0.147203 -0.345748  0.109265 -0.033826  0.379199         1
 122        0.402020  0.124281 -0.853962  0.351511  0.124160  0.479015         0}

In [7]:
data['rfe_train']

         r_sex_0  survived  automl_id  r_embarked_2  r_embarked_0  r_passenger     r_age  r_sibsp  r_pclass    r_fare
r_sex_1
1              0         0         11             1             0     0.662921  0.627451      0.0       1.0  0.125000
1              0         0         17             1             0     0.341573  0.509804      0.0       1.0  0.141228
1              0         0         22             1             0     0.249438  0.941176      0.0       1.0  0.141228
1              0         1         23             1             0     0.502247  0.607843      0.0       0.0  0.465789
1              0         1         27             1             0     0.800000  0.882353      0.5       0.0  0.912281
1              0         0         28             1             0     0.570787  0.490196      0.0       1.0  0.395175
0              1         1         12             0             1     0.365169  0.647059      0.0       0.0  0.228070
0              1         1         19             1             0     0.960674  0.294118      0.0       1.0  0.164035
0              1         0         21             1             0     0.112360  0.490196      0.0       1.0  0.138523
0              1         1         24             1             0     0.731461  0.294118      0.0       0.5  0.403509

In [8]:
data['pca_train']

              col_0     col_1     col_2     col_3     col_4     col_5  survived
automl_id
387       -1.207638 -0.662157  0.038470 -0.366528  0.070242 -0.250650         1
713       -0.639786  0.679559  0.340809 -0.197031  0.509808 -0.063763         1
19        -0.637804  0.679945  0.375119 -0.226471  0.547413 -0.059182         1
753        0.135545 -1.121384  0.258524 -0.479924 -0.130203  0.365780         0
324       -0.731316  0.637457 -0.076783 -0.011871  0.213383 -0.226777         1
385       -0.977002 -0.143439  0.990735  0.659949  0.245793 -0.067303         0
59        -0.640228  0.676612  0.383016 -0.243977  0.327815 -0.128798         1
856        0.554766  0.130829 -0.172142 -0.008577 -0.327649 -0.235748         0
591        0.509808  0.147203 -0.345748  0.109265 -0.033826  0.379199         1
122        0.402020  0.124281 -0.853962  0.351511  0.124160  0.479015         0

## <b><span style='color:#F1A424'>| 2.</span> Remove Deployed Data </b>

In [9]:
adp.delete_data(table_name="titanic_prep", fs_method=['rfe'])

Removed rfe_train table successfully.

In [10]:
adp.delete_data(table_name="titanic_prep")

Removed pca_train table successfully.
Deployed data removed successfully.

In [11]:
remove_context()

True